aire-property-panel {
  position: relative;
  width: 100%;
  header {
    color: white;
    vaadin-icon {
      margin-right: 8px;
    }
    h1, vaadin-icon {
      color: var(--lumo-header-text-color);
      font-size: var(--lumo-font-xl);
      margin-top:0;
      margin-bottom: 0;
    }
  }
}