aire-property-panel {
  position: relative;
  width: 100%;
  header {
    color: white;
    background-color: #660066;
    h1 {
      color: white;
      margin: 0px;
      font-size: var(--lumo-font-xl);
    }
  }
}