@import "../../../material/material";
:root {
  --aire-primary-background-color: #{material-color('grey', '900')};

  --aire-primary-text-color: #{material-color('deep-purple', 'a700')};

}

html {
  font-size: 16px;
}


html, body {
  background-color: var(--aire-primary-background-color);
}



aire-button {

  --color: #FFF;
  --background-color: #{material-color('grey', '900')};

  &:hover {
    --background-color: #{material-color('grey', '700')};
  }

  &:active, .active {
    --background-color: #{material-color('grey', '500')};
  }

  &[variant="primary"]{
    --color: #{material-color('deep-purple', '100')};
    &:hover {
      --background-color: #{material-color('deep-purple', 'a200')}
    }
    &:active {
      --background-color: #{material-color('deep-purple', 'a400')};
    }
  }


  &[variant="secondary"]{
    --color: #{material-color('pink', '100')};
    &:hover {
      --background-color: #{material-color('pink', 'a100')}
    }
    &:active {
      --background-color: #{material-color('pink', 'a200')};
    }
  }

  &[variant="success"] {
    --color: #{material-color('green', '50')};
    &:hover {
      --background-color: #{material-color('green', '200')}
    }
    &:active {
      --background-color: #{material-color('green', '300')};
    }
  }

  &[variant="error"] {
    --color: #{material-color('red', '50')};
    &:hover {
      --background-color: #{material-color('red', '200')}
    }
    &:active {
      --background-color: #{material-color('red', '300')};
    }
  }



  /**
   * variant warning
   */
  &[variant="warning"] {
    --color: #{material-color('orange', '50')};
    &:hover {
      --background-color: #{material-color('orange', '200')}
    }
    &:active {
      --background-color: #{material-color('orange', '300')};
    }
  }


  /**
   * variant info
   */
  &[variant="info"] {
    --color: #{material-color('blue', '50')};
    &:hover {
      --background-color: #{material-color('blue', '200')}
    }
    &:active {
      --background-color: #{material-color('blue', '300')};
    }
  }



}


