@import "../../../material/material";

:root {

}

html {
  font-size: 16px;
}

html, body {
  background-color: var(--aire-primary-background-color);
}


aire-button {

  --color: #{material-color('grey', '900')};

  &:hover {
    --background-color: #{material-color('grey', '100')}
  }

  &:active, .active {
    --background-color: #{material-color('grey', '500')}
  }

}
