@import "~@aire-ux/aire-base/material/material";
:root {

  --aire-primary-background-color: #FFFFFF;
  --aire-primary-color: material-color('deep-purple', 'a700');
}


html, body {
  background-color: var(--aire-primary-background-color);
}

