


button, .aire-button {


  /**
   * should typically be the default text color
   * light-themes should select a dark, high-contrast
   * color
   * dark themes should select a light, high-contrast color
   */
  color: var(--color);

  font-size: var(--font-size, 1rem);

  /**
   * text-transform: uppercase
   */
  text-transform: var(
          --text-transform,
          uppercase
  );

  /**
   * font-weight: defaults to 400
   */
  font-weight: var(--font-weight, 400);

  /**
   * background-color for the button
   */
  background-color: var(--background-color);

  /**
   * no border by default
   */
  border: var(--border, none);


  /**
   * padding-left: defaults to .75rem
   */
  /**
   * padding-left: defaults to .75rem
   */
  /**
   * padding-top: defaults to .375rem
   */
  /**
   * padding-bottom: defaults to .375rem
   */
  padding: var(
          --padding-top,
          .375rem
  ) var(
          --padding-right,
          .75rem
  ) var(
          --padding-bottom,
          .375rem
  ) var(
          --padding-left,
          .75rem
  );


  &:hover {
    transition-duration: var(
            --transition-duration,
            .15s
    );
    transition-property: var(
            --transition-property,
            background-color
    );
  }


}
