:root {

  /**
   * padding
   */
  --aire-button-padding-top: .5rem;
  --aire-button-padding-right: .5rem;
  --aire-button-padding-bottom: .5rem;
  --aire-button-padding-left: .5rem;


  --aire-button-border: 1px solid gray;

}