@mixin aire-button-sizes() {
  /**
    * sizes
   */
  &[size="x-small"] {
    --font-size: .5rem;
    --padding-top: .1875rem;
    --padding-right: .375rem;
    --padding-bottom: .1875rem;
    --padding-left: .375rem;
  }

  &[size="small"] {
    --font-size: .75rem;
    --padding-top: .25rem;
    --padding-right: .45rem;
    --padding-bottom: .25rem;
    --padding-left: .45rem;
  }

  &[size="large"] {
    --font-size: 1.1875rem;
    --padding-top: .5rem;
    --padding-bottom: .5rem;
    --padding-left: 1rem;
    --padding-right: 1rem;
  }


  &[size="x-large"] {
    --font-size: 1.375rem;
    --padding-top: .75rem;
    --padding-bottom: .75rem;
    --padding-left: 1.1875rem;
    --padding-right: 1.1875rem;
  }

  &[size="cta"] {
    --font-size: 1.5rem;
    --padding-top: .875rem;
    --padding-bottom: .875rem;
    --padding-left: 1.5rem;
    --padding-right: 1.5rem;
  }
}