
/**
  base button styles

  this file contains structural elements
  without including the actual style elements
 */

button {

  /**
   * padding
   */
  padding:
    var(--aire-button-padding-top)
    var(--aire-button-padding-right)
    var(--aire-button-padding-bottom)
    var(--aire-button-padding-left);

  /**
   * border
   */
  border:
      var(--aire-button-border);

  /**
   * font
   */
  font:
      var(--aire-button-font);


  /**
   * font-family
   */
  font-family:
      var(--aire-button-font-family);

  /**
   * variants
   */
  &.large {

  }




}
